html,
body {
  padding: 0px;
  margin: 0px;
  background: #191a1d;
  font-family: "Karla", sans-serif;
  width: 100vw;
}

body * {
  margin: 0;
  padding: 0;
}

nav {
  margin-top: 40px;
  margin-left: 40px;
  width: 220px;
}

menuitem > a {
  position: relative;
  display: block;
  opacity: 1;
}

nav > menu {
  display: flex;
}

nav a,
button {
  background: #75f;
  color: #fff;
  width: 220px;
  transition: background 0.2s, color 0.2s, transform 0.2s;
  margin: 0px 6px 6px 0px;
  padding: 20px 40px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  position: relative;
  outline: none;
  border: none;
}

button {
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-align: left;
  cursor: pointer;
  background-color: rgb(62, 45, 131);
}

button:hover {
  background-color: rgb(42, 31, 89);
}
nav a:hover {
  background-color: rgb(150, 134, 221);
}

.dc-main {
  display: block;
}

.dc-settings {
  display: block;
}

.dc-more {
  display: block;
}